@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #0b0f17;
}

.img {
  box-shadow: 0 0 30px #84d7e9da;
}

.progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #ff6476;
  transform-origin: 0%;
}

.wrapper {
  scroll-snap-type: y mandatory;
}

.snap {
  scroll-snap-align: start;
}